<h1>{{title}}</h1>
{{regForm.value | json}}
<div class="container">
  <div class="row">
    <div class="form-bg">
      <form [formGroup]="regForm">

        <div class="form-group">
          <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
          <span class="text-danger"
            *ngIf="regForm.controls['firstName'].invalid && regForm.controls['firstName'].touched">Enter valid first
            name</span>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" formControlName="emailId" placeholder="Email ID">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>

        <div>
          <button class="btn btn-primary" [disabled]="!regForm.valid" (click)="registerUser()">Register</button>
           &nbsp;<button class="btn btn-primary" (click)="resetForm()">Reset</button>
           &nbsp;<button class="btn btn-primary" (click)="loadSampleForm()">LoadForm</button>
        </div>

      </form>
    </div>
  </div>
</div>